@media all and (max-width:1200px){
	.Menu{
		display:none;
	}
	.content{
		width:100%;
	}
}
@media all and (max-width:1000px) {
	.head_conteiner{
		height:100px;
	}
	.Head{
		font-size:50px;
	}
	body{
		background-color:white;
	}
	.main_center{
		margin:0%;
		padding:0%;
		background-color:white;
		width:100%;
	}
	.content{
		width:100%;
		margin:0%;
		padding:0%;
		box-shadow: 0 0 0px 0px white ;
	}
	.img{
		display:none;
	}
	table{
		margin:0%;
	}
}
