body{
	background-image: url(img/body_fon.png);
	background-repeat:repeat;
}
.main_center{
	margin:0% 17%;
	padding:0%;
}
.head_conteiner{
	background-color:#303b44;
	font-size:;
	color:white;
	margin:0%;
}
.head_conteiner{
	width:100%;
	height:60px;
}
.conteiner{
	display:flex;
	flex-direction:column;
	box-shadow:0px 0px 0px 0px black;
	background-color:#F0F0F0;
}
.menu_conteiner{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	padding:0%;
	height: 37px;
	margin: 0;
}
.item_menu{
	color:#909090;
	padding:0% 0% 0% 0%;
	text-align:center;
}
.Menu{
	list-style-type: none;
    position: sticky;
    top: 0;
    padding: 0% 0% 0% 0%;
    order: 1;
    background-color: white;
    margin: 0% 0% 0% 0%;
    width: auto;
    height: 50px;
	border-bottom:1px solid black;
}
.content{
	background-color:white;
	order:2;
	padding:0% 0% 1% 0%;
	margin:1% 2%;
	width:auto;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.img{
	text-align:center;
	margin:1% 0% 0% 0%;
	padding:0%;
}
.description{
	margin:0%;
	padding:0%;
	font-family: 'Rubik', "sans-serif";
	font-family: 'Vollkorn', "serif";
	color:#909090;
}
.padding_img{
	padding:1%;
}
.end_web{
	background-color:#202020;
	height:auto;
}
.add_headers{
	margin:0% 0% 0% 9% ;
}
.Head{
	font-size:30px;
	text-align:center;
}
.End{
	text-align:center;
	font-size:30px;
	color:white;
}
.conteiner_End{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:0% 0% 3% 0% ;
}
.book{
	display:flex;
	flex-direction:column;
	color:white;
}
.web{
	display:flex;
	flex-direction:column;
	color:white;
}
.a_end{
	color:white;
}
.first_foto{
	text-align:center;
	border-radius:0px;
	border:0px;
	margin:0%;
	padding:0%;
}
.js_fon{
	background-color:#E0E0E0;
	padding:0% 0% 0% 0%;
	color:red;
}
.li_item{
	height:38px;
	padding:1% 1% 0% 1%;
	color:red;
	text-align:center;
}
.js_color{
	color:red;
}
.menu_li_conteiner{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	background-color:#E0E0E0;
	display:none;
}
.li_li_item{
	padding:4% 3% 3% 3%;
	color:#909090;
}
.width_li{
	width:11%;
	padding-right:0%;
	padding-left:0%;
}
.video_nav{
	text-align:center;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	display:none;
	background-color:#15141a;
	margin:0%;
	padding:0%;
}
.decoration_none{
	position:fixed;
    right: 0;
    left: 0;
	bottom:0;
	text-align:center;
	text-decoration:none;
	padding:0%;
	list-style-type: none;
	margin:0%;
}