html{
	margin:0%;
	padding:0%;
	scroll-padding-top: 52px;
}
body{
	margin:0%;
	padding:0%;
	font-family: 'Open Sans', sans-serif;
}
h1{
	background-color:#ceefc5;
	text-align:center;
	font-size:29px;
}
h2{
	text-align:center;
	background-color:#e0e0e0;
	font-size:24px;
}
h3{
	padding:0%;
	margin:0%;
	text-align:center;
	font-size:17px;
}
p{
	margin:0% 0% 0% 0%;
	padding:1% 1% 0% 1%;
}
dl{
	margin:0% 0% 0% 1%;
}
nav{
	margin:0% 0% 0% 2%;
	padding:0% 0% 0% 0%;
}
a{ 
	text-decoration:none;
	color:black;
	text-align:left;
}
img{
	border:1px solid black;
	border-radius:20px;
}
table{
	margin:0% 1%;
	margin-top:1%;
}
nav li:hover > nav{
	display:block;
	text-align:left;
	color:#909090;
	margin-left:0%;
}
nav.decoration_none li:hover > nav{
	display:block;
	text-align:center;
}
video{
	width:auto;
	height:auto;
	margin-right:0%;
	padding:1% 0% 0% 0%;
}
botton{
	border:2px solid black;
}
canvas{
	border:2px solid red;
	background-image:url(img/background.png);
}