body{
	background-image: url(img/body_fon.png);
	background-repeat:repeat;
}
.main_center{
	margin:0% 17%;
	padding:0%;
}
.head_conteiner{
	background-color:#303b44;
	font-size:;
	color:white;
	margin:0%;
}
.head_conteiner{
	width:100%;
	height:60px;
}
.conteiner{
	display:flex;
	flex-direction:column;
	box-shadow:0px 0px 0px 0px black;
	background-color:#F0F0F0;
}
.menu_conteiner{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	padding:0%;
	height: auto;
	margin: 0;
	font-size: 15px;
}
.item_menu{
	color:#909090;
	padding:0% 0% 0% 0%;
	text-align:center;
}
.Menu{
	list-style-type: none;
    position: sticky;
    top: 0;
    padding: 0% 0% 0% 0%;
    order: 1;
    background-color: white;
    margin: 0% 0% 0% 0%;
    width: auto;
    height: 50px;
	border-bottom:1px solid black;
}
.content{
	background-color:white;
	order:2;
	padding:0% 0% 1% 0%;
	margin:1% 2%;
	width:auto;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.img{
	text-align:center;
	margin:1% 0% 0% 0%;
	padding:0%;
}
.description{
	margin:0%;
	padding:0%;
	color:#909090;
}
.padding_img{
	padding:1%;
}
.end_web{
	background-color:#202020;
	height:auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.add_headers{
	margin:0% 0% 0% 9% ;
}
.Head{
	font-size:30px;
	text-align:center;
}
.End{
	text-align:center;
	font-size:30px;
	color:white;
}
.conteiner_End{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	padding:0% 0% 3% 0% ;
	flex-wrap:wrap;
}
.game_button{
	font-size: 35px;
}
.book{
	display:flex;
	flex-direction:column;
	color:white;
}
.web{
	display:flex;
	flex-direction:column;
	color:white;
}
.a_end{
	color:white;
}
.first_foto{
	text-align:center;
	border-radius:0px;
	border:0px;
	margin:0%;
	padding:0%;
}
.js_fon{
	background-color:#E0E0E0;
	padding:0% 0% 0% 0%;
	color:red;
}
.li_item{
	height:38px;
	padding:1% 1% 0% 1%;
	color:red;
	text-align:center;
}
.js_color{
	color:red;
}
.menu_li_conteiner{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	background-color:#E0E0E0;
	display:none;
	font-size:13px;
}
.li_li_item{
	padding:4% 3% 3% 3%;
	color:#909090;
}
.width_li{
	width:11%;
	padding-right:0%;
	padding-left:0%;
}
.popup{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
}
.popup_body{
	min-height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:2px 10px;
}
.popup_content{
	background-color:white;
	padding:30px;
	position:relative;
	border:25px solid #828282;
	border-radius:25px;
}
.popup_close{
	position:absolute;
	right: -13px;
    top: -10px;
	border-radius:20px;
}
.popap_open{
	opacity:1;
	visibility:visible;
}
